.nav-container {
  text-align: center;

  .nav {
    padding: 19px 2em;
    margin: -52px auto 0 auto;
    font-size: 26px;
    line-height: 26px;
    width: 742px;
    background-image: url(/images/patterns/p6.png);
    font-family: "ff-nuvo-web-pro",sans-serif;
    font-weight: bold;
  }

  .nav li {
    display: inline-block;

    a {
      border-bottom: 5px solid transparent;
      padding: none;
    }
    a.active, a:hover {
      border-bottom: 5px solid #CBD500;
      background-color: rgba(0,0,0,0); /* override bootstrap background */
    }
  }

  .zag {
    height: 25px;
    background-image: url(/images/patterns/zag.png);
    background-repeat: repeat-x;
  }
}

.hero {
  max-width: 100%;
  margin-bottom: 2em;

  img { max-width: 100%; }
}

.container {
  min-width: 960px;
}

.section {
  clear: both;

  .header {
    float: left;
    width: 140px;
    border-bottom: none;
    margin-right: 30px;

    font-family: "ff-nuvo-web-pro",sans-serif;
    font-weight: bold;
    font-size: 24px;
  }

  .body {
    width: 380px;
    float: left;
  }

  .sidebar {
    width: 380px;
    float: left;
  }

  .subheader {
    font-family: "ff-nuvo-web-pro",sans-serif;
    font-size: 18px;
    line-height: 24px;
    margin: 7px auto;
  }

}
